<ion-view view-title="Question List">
  <ion-content>
  	<div class="row">
  		<div class="col">
		    <ion-list>
		    	<ion-item ng-if="question.subject == 'english'" ng-repeat="question in questionlist | orderBy : 'topic'">
		    		{{question.topic}} ({{question.weight}})
		    	</ion-item>
		    </ion-list>
		</div>
  		<div class="col">
		    <ion-list>
		    	<ion-item ng-if="question.subject == 'chinese'" ng-repeat="question in questionlist | orderBy : 'topic'">
		    		{{question.topic}} ({{question.weight}})
		    	</ion-item>
		    </ion-list>
		</div>
	</div>
  </ion-content>
</ion-view>
